---
title: Hairy Situation
---
<div class="container-fluid hypothesis-box">
  <div style="display: block;">
    <h1>Hypothesis</h1>
    <h3>Brown hair will be the most common color because most people have blond or black hair, but not every hair color is perfect so the mix between the two is brown.</h3>
  </div>
</div>

<div class="container-fluid submit">
  <h1>What color is your hair?</h1>
  <div class="row">
    <div class="col">
      <a class="blond" href="#">Blond</a>
    </div>
    <div class="col">
      <a class="black" href="#">Black</a>
    </div>
    <div class="col">
      <a class="brown" href="#">Brown</a>
    </div>
    <div class="col">
      <a class="red" href="#">Red</a>
    </div>
  </div>
</div>
