<div class="container-fluid color-chart">
  <div class="row">
    <div class="col">
      <span class="blond">Blond</span>
      <span class="blond-line blond"></span>
      <span class="amount amount-blond">29</span>
    </div>
    <div class="col">
      <span class="black">Black</span>
      <span class="black-line black"></span>
      <span class="amount amount-black">42</span>
    </div>
    <div class="col">
      <span class="brown">Brown</span>
      <span class="brown-line brown"></span>
      <span class="amount amount-brown">57</span>
    </div>
    <div class="col">
      <span class="red">Red</span>
      <span class="red-line red"></span>
      <span class="amount amount-red">7</span>
    </div>
  </div>
</div>
